{% extends "base.html" %}
{% block content %}
<style>
body {
  background-image: url("{{ url_for('static', filename='images/home.jpg') }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(41, 9, 9);
  font-family: 'Segoe UI', sans-serif;
}

/* Form container */
.product-form-container {
     color: #0c035a;
     background: rgba(49, 20, 20, 0.9);
     max-width: 500px;
     margin: 80px auto;
     padding: 30px 40px;
     border-radius: 12px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 
}

/* Form heading */
.product-form-container h2 {
  text-align: center;
  color: #0c035a;
  margin-bottom: 25px;
}

/* Form elements */
.product-form-container label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.product-form-container input,
.product-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #0a0101;
  font-size: 14px;
  box-sizing: border-box;
}

.product-form-container input[type="file"] {
  padding: 5px;
}

/* Button styling */
.product-form-container button {
  width: 100%;
  background-color: #0c035a;
  color: rgb(247, 30, 30);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product-form-container button:hover {
  background-color: #e08318;
}
.mentor-card {
  background: rgba(255, 255, 255, 0.95);
  color: #000;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 2px;
}
</style>

<h2>Add Job</h2>
<form method="post" action="{{ url_for('add_job') }}">
    <input type="text" name="title" placeholder="Job Title" required><br><br>
    <input type="text" name="description" placeholder="description" required><br><br>
    <input type="submit" value="Add Job">
</form>
{% endblock %}