{% extends "base.html" %}
{% block content %}
<style>
body {
  background-image: url("{{ url_for('static', filename='uploads/gif7.gif') }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
</style>
<h2>Register</h2>
<form method="POST">
    <input name="username" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{{ url_for('user_login') }}">Login</a>

{% endblock %}